* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #4974a5;
}

a:hover {
    text-decoration: none;
    color: #588dca;
}

:root {
    --animate-duration: 1.5s;
}

/* Estilos para header de index.html */

/* ============================= */
/* Icono hamburguesa animado */
/* ============================= */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #4974a5;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

.navbar {
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.0);
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.0);
}

/* ============================= */
/* FIN Icono hamburguesa animado */
/* ============================= */

.index__main--divLogo {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(250, 250, 250)
}

main {
    background-color: rgb(250, 250, 250)
}

.index__header--logo {
    padding: 20px 0;
    width: 300px;
}

.index__header--barraNav {
    background-color: rgb(250, 250, 250);
}

.index__header--navItems {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.index__header--navItems li {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: .9rem;
}

.nav-link {
    color: #4974a5;
}

.dropdown-item {
    color: #4974a5;
    font-size: .8rem;
}

.dropdown-menu {
    --bs-dropdown-border-color: rgba(0, 0, 0, 0.1);
    --bs-dropdown-link-active-bg: rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
    position: absolute;
    top: 45px;
}

/* ============================= */
/* Estilos carousel header */
/* ============================= */

.index__header--carousel .carousel-inner { 
    height: 28vh;
}

.index__header--carousel .carousel-item  { 
    height: 100%;
}

.index__header--carouselPhoto1 {
    background-image: url(../assets/images/main5.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
}

.index__header--carouselPhoto2 {
    background-image: url(../assets/images/main3.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
}

.index__header--carouselPhoto3 {
    background-image: url(../assets/images/main2.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
}

.index__header--carouselItem1 h2 {
    font-family: 'Lato', sans-serif;
    color: #4974a5; 
}

.index__header--carouselItem1 p {
    font-family: 'Nunito', sans-serif;
    color: #dadada;
}

.index__header--carouselItem2 h2 {
    font-family: 'Lato', sans-serif;
    color: #4974a5;
    text-align: left;
}

.index__header--carouselItem2 p {
    font-family: 'Nunito', sans-serif;
    color: #828282;
    text-align: left;
}

.index__header--carouselItem3 h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #4974a5;
    text-align: right;
}

.index__header--carouselItem3 p {
    font-family: 'Nunito', sans-serif;
    color: #dadada;
    text-align: right;
}

/* ============================= */
/* Estilos para main de index.html */
/* ============================= */


.index__main--bloqueTexto1 {
    background: #4974a5;
    padding: 50px 80px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.index__main--bloqueTexto1 p {
    color: rgb(247, 247, 247);
    font-weight: 300;
    text-align: justify;
    padding-top: 6px;
}

.index__main--bloqueTexto2 {
    background-image: url(../assets/images/backgroundmain1.jpg);
    padding: 50px 80px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.index__main--bloqueTexto2 p {
    color: #828282;
    font-weight: 400;
    padding-top: 6px;
}

.index__main--bloqueTexto1 h2, .index__main--bloqueTexto2 h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 300;
}

.index__main--bloqueTexto2 h2 {
    color: #474747;
}

.index__main--bloqueTexto3 {
    color: #fff;
    padding: 30px 50px;
    text-align: justify;
    margin-bottom: 20px;
}

.index__main--bloqueTexto3 div {
    margin: 20px 0px;
}

.index__main--bloqueTexto3 h2 {
    margin-bottom: 20px;
}

.index__main--bloqueTexto3 h2, .index__main--bloqueTexto3 h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.index__main--bloqueTexto3 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.index__main--bloqueTexto3 i {
    font-size: calc(1.4rem + .3vw);
    padding-top: 15px;
    color: rgb(236, 236, 236);
}

.index__main--imgAbogada {
    background-image: url(../assets/images/main4.jpg);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;
    opacity: .9;
}

.index__main--bloqueTextoImg {
    background-image: url(../assets/images/backgroundmain3.jpg);
    background-size: cover;
    opacity: .93;
}

.index__main--bloqueTexto5 {
    margin-bottom: 20px;
    margin-top: 60px;
}

.index__main--bloqueTexto5 h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
}

.index__main--bloqueTexto5 h4 {
    color: #4974a5;
    font-family: 'Lato', sans-serif;
    line-height: 2.5rem;
}

.index__main--bloqueTexto5 span {
    font-weight: 700;
}

.bi-telephone-fill {
    font-size: 40px;
    color: #4974a5;
}

.index__main--bloqueTelefono {
    display: flex;
}

.index__main--bloqueTelefono hr {
    border-width: 2px;
    opacity: 0.3;
}

.index__main--areasTrabajo1 {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 20px;
}

.index__main--areasTrabajo1 p {
    color: #4974a5;
}

.index__main--areasTrabajo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.index__main--areasTrabajo2 a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.index__main--areasTrabajo2 div {
    width: 85%;
}

.index__main--areasTrabajo2 > div > a > div {
    margin: 30px 0px 0px 0px;
}

.index__main--area1,.index__main--area2,.index__main--area3,.index__main--area4,.index__main--area5,.index__main--area6 {
    background-size: cover;
    height: 220px;
    font-size: 1.4rem;
    letter-spacing: .3rem;
    color: #fff;
    border-radius: 2%;
    transition: all .5s ease;
}

.index__main--area1:hover,.index__main--area2:hover,.index__main--area3:hover,.index__main--area4:hover,.index__main--area5:hover,.index__main--area6:hover {
    transform: scale(1.1,1.1);
    background-color: #000;
}

.index__main--area1:hover p,.index__main--area2:hover p,.index__main--area3:hover p,.index__main--area4:hover p,.index__main--area5:hover p,.index__main--area6:hover p {
    font-size: 1.6rem;
    transition: all .5s ease;
    color: white;
    font-weight: 400;
}

.index__main--area1 {
    background-image: url(../assets/images/familia1.jpg);
}

.index__main--area2 {
    background-image: url(../assets/images/civilcomercial1.jpg);
}

.index__main--area3 {
    background-image: url(../assets/images/laboral1.jpg);
}

.index__main--area4 {
    background-image: url(../assets/images/penal1.jpg);
}

.index__main--area5 {
    background-image: url(../assets/images/accidente1.jpg);
}

.index__main--area6 {
    background-image: url(../assets/images/gestoria1.jpg);
}

.index__main--linea1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.index__main--equipo {
    background-color: rgb(236, 236, 236);
    padding-bottom: 50px;
    padding-top: 50px;
}

.index__main--equipo h2 {
    margin-bottom: 0px;
}

.index__main--equipo img {
    width: 30%;
    border-radius: 2%;
    transition: all .5s ease;
    margin-bottom: 30px;
}

.index__main--equipo img:hover {
    transform: scale(1.08,1.08);
}

.index__main--equipo h2, .index__main--equipo h4, .index__main--equipo div {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.index__main--equipo p {
    padding: 4px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    line-height: 1.5rem;
    text-align: justify;
}

.index__main--equipo i {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 300;
    font-style: normal;
}

.index__main--equipo span {
    font-family: 'Montserrat', sans-serif;
    color: #4974a5;
    font-weight: 600;
    font-size: .9rem;
}

.index__main--equipo hr {
    width: 10%;
    color: #4974a5;
    border-width: 3px;
    opacity: 100;
}

.index__main--areaContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/fondoContacto2.jpg);
    background-size: cover;
    color:#fff;
    padding-top: 20px;
}

.index__main--areaContacto h2 {
    font-family: 'Nunito', sans-serif;
    padding-top: 20px;
}

.index__main--areaContacto p {
    font-family: 'Montserrat', sans-serif;
    padding: 0px 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
}

.index__main--areaContacto form {
    font-family: 'Montserrat', sans-serif;
}

.index__main--areaContacto form div {
    padding-top: 20px;
}

.index__main--areaContacto form textarea {
    margin-top: 20px;
}

.index__main--areaContacto form button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.index__main--areaFormulario {
    color: rgb(61, 61, 61);
}

.form-check-input:checked {
    background-color: #4974a5;
    border: #4974a5;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #4974a5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(245, 245, 245);
}

.index__main--botonFormulario {
    background-color: #4974a5;
    border: #4974a5;
    width: 100%;
    font-size: .8rem;
    padding: 10px;
}

/* Queries para main de index.html */

@media (min-width: 577px) and (max-width: 767px)  {
    .index__main--bloqueTexto3 {
        padding: 30px 80px;
    }
    .index__main--area1,.index__main--area2,.index__main--area3,.index__main--area4,.index__main--area5,.index__main--area6 {
        width: 100px;
    }
    .index__main--areasTrabajo2 a {
        padding: 10px 0px;
    }
    .index__main--areasTrabajo2 div {
        width: 75%;
    }
    .index__main--bloqueTexto5 {
        width: 85%;
    }
    .index__main--equipo img {
        width: 26%;
    }
    .index__main--equipo p {
        padding: 4px 80px 4px 80px;
    }
    .index__main--areaContacto {
        padding: 20px 50px 0px 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .index__main--bloqueTexto1 {
        padding:  80px 50px 50px 50px;
    }

    .index__main--bloqueTexto5 {
        width: 85%;
    }
    .index__main--areasTrabajo2 a {
        width: 50%;
        padding: 0px;
        margin: 0px;
    }
    .index__main--areasTrabajo2 div {
        width: 80%;
    }
    .index__main--areasTrabajo2 > div > a > div {
        margin: 50px 0px 0px 0px;
    }

    .index__main--equipo p {
        padding: 4px 80px 4px 80px;
    }
    .index__main--equipo img {
        width: 40%;
    }

    .index__main--areaContacto {
        padding: 20px 150px 0px 150px;
    }

    }

@media only screen and (min-width: 991px) {
    .index__main--bloqueTexto1 {
        padding:  80px 50px 50px 50px;
    }
    .index__main--bloqueTexto5 {
        width: 75%;
    }
    .index__main--areasTrabajo2 {
        margin-bottom: 60px;
    }
    .index__main--areasTrabajo2 a {
        width: 33.33%;
        padding: 0px;
        margin: 0px;
    }
    .index__main--areasTrabajo2 div {
        width: 80%;
    }
    .index__main--areasTrabajo2 > div > a > div {
        margin: 50px 0px 0px 0px;
    }
    .index__main--imgAbogada {
        height: 500px;
    }

    .index__main--equipo p {
        padding: 4px 80px 4px 80px;
    }
    .index__main--areaContacto {
        padding: 20px 150px 0px 150px;
    }
    .index__main--equipo img {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .index__main--equipo p {
        padding: 4px 40px 4px 40px;
    }
    .index__main--areaContacto {
        padding: 20px 200px 0px 200px;
    }
    .index__main--imgAbogada {
        height: 600px;
    }
}


@media only screen and (min-width: 1400px) {
    .index__main--areasTrabajo2 a {
        width: 16.6%;
        padding: 0px;
        margin: 0px;
    }
    .index__main--areasTrabajo2 div {
        width: 90%;
    }
    .index__main--areaContacto {
        padding: 20px 250px 0px 250px;
    }
    .index__main--imgAbogada {
        height: 650px;
    }
}

/* ============================= */
    /* Estilos para footer */
/* ============================= */


.footer__bloque {
    background-color: #161616;
    padding-top: 20px;
}

.footer__bloque--seccion1, .footer__bloque--seccion2, .footer__bloque--seccion3 {
    padding: 15px 60px;
    text-align: justify;
}

.footer__bloque--seccion1 h5, .footer__bloque--seccion2 h5, .footer__bloque--seccion3 h5 {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-weight: 200;
}

.footer__bloque--seccion3 li {
    font-family: 'Lato', sans-serif;
    color: #adadad;
    font-size: 0.8rem;
    line-height: 2rem;
    list-style: none;
}

.footer__bloque--seccion1 a {
    text-decoration: none;
    color: #fff;
}

.footer__bloque--seccion2 ul,.footer__bloque--seccion3 ul, .footer__bloque--seccion1 p {
    padding-top: 15px;
}

.footer__bloque--seccion1 p {
    line-height: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: #adadad;
    font-size: 0.9rem;
    display: flex;
}

.footer__bloque--seccion1 i {
    font-size: 1.3rem;
    opacity: .7;
}

.footer__bloque--seccion1 i:hover {
    transition: all .5s ease;
    opacity: 1;
}

.footer__bloque--seccion2 li {
    color: #616161;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    line-height: 2rem;
    list-style: none;
}

.footer__bloque--seccion2 li i {
    color:#b1b1b1;
}

.footer__bloque--seccion2 li:hover {
    transition: all .5s ease;
    color:#d4d4d4;
}

.footer__bloque--seccion2 a {
    color:#b1b1b1;
}

.footer__bloque--seccion2 a:hover {
    color: #4974a5;
    transition: all .3s ease;
}

.footer__copy {
    background-color: #262626;
    color: #afafaf;
    padding: 0px 80px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 0.7rem;
}

/* Queries para footer */

@media (min-width: 577px) and (max-width: 767px)  {
    .footer__bloque--seccion1 {
        padding-right: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .footer__bloque section {
        padding: 15px 20px;
    }
    .footer__bloque--seccion1 p {
        padding-right: 30px;
    }
}

@media (min-width: 991px)  {
    .footer__bloque--seccion1 p {
        padding-right: 10px;
    }
}

@media (min-width: 1200px)  {
    .footer__bloque--seccion1 p {
        padding-right: 50px;
    }
}

@media (min-width: 1400px)  {
    .footer__bloque--seccion1 p {
        padding-right: 100px;
    }
}

@media (min-width: 1600px)  {
    .footer__bloque--seccion1 p {
        padding-right: 140px;
    }
}

/* ============================= */
/* Estilos para Header subpáginas */
/* ============================= */

.header__secondary--cajaTexto {
    background-image: url(../assets/images/portadaspages/conozcanosbn.jpg);
    background-position: center;
    height: 240px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__secondary--cajaTexto h1 {
    font-family: 'Lato', sans-serif;
    color: #4974a5; 
    text-align: center;
    font-size: 2.3rem;
}

.header__secondary--cajaTexto h3 {
    font-family: 'Nunito', sans-serif;
    color: #dadada;
    text-align: center;
}


.header__secondary--cajaTexto p {
    font-family: 'Nunito', sans-serif;
    color: #dadada;
    text-align: center;
    font-size: 1.5rem;
}

/* ============================= */
/* Estilos para conozcanos.html */
/* ============================= */

.conozcanos__main--contacto {
    padding: 15px 60px;
    text-align: left;
}

.conozcanos__main--contacto h5 {
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-weight: 600;
    font-size: 1.2rem;
}

.conozcanos__main--contacto li {
    font-family: 'Lato', sans-serif;
    color: #adadad;
    font-size: 0.8rem;
    line-height: 2rem;
    list-style: none;
}

/* Queries para conozcanos.html */

@media (min-width: 577px) and (max-width: 767px)  {
    .conozcanos__main--contacto {
        padding: 15px 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .conozcanos__main--contacto {
        padding: 15px 80px;
    }
    .textoMaxi {
        margin-bottom: 88px;
    }
    .textoLourdes {
        margin-bottom: 135px;
    }
}

/* ============================= */
/* Estilos para contacto.html */
/* ============================= */

.contacto__main--mapa {
    width: 100%;
    height: 500px;
}

.contacto__main--bloqueTexto1 {
    background-image: url(../assets/images/backgroundmain1.jpg);
    padding: 50px 80px;
    font-family: 'Montserrat', sans-serif;
}

.contacto__main--bloqueTexto2 {
    background-image: url(../assets/images/portadaspages/contacto2bn.jpg);
    padding: 50px 80px;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contacto__main--bloqueTexto1 p, .contacto__main--bloqueTexto2 p {
    color: #474747;
    font-weight: 400;
}

.contacto__main--bloqueTexto1 h2, .contacto__main--bloqueTexto2 h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #474747;
}

.contacto__main--bloqueTexto1 p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 35px;
}

.contacto__main--bloqueTexto1 a {
    transition: all .5s ease;
}


.contacto__main--bloqueTexto3 {
    background-image: url(../assets/images/portadaspages/contacto1.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 80px;
    padding-top: 75px;
    font-family: 'Montserrat', sans-serif;
}

.contacto__main--bloqueTexto3 div {
    margin: 0px 15px;
    margin-bottom: 20px;
    padding: 0px 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(250, 250, 250);
}

.contacto__main--bloqueTexto3 h2 {
    text-align: center;
    color: #474747;
}

.contacto__main--bloqueTexto3 i {
    background-color: #4974a5;
    padding: 15px 20px;
    border-radius: 50%;
    position: relative;
    color: rgb(250, 250, 250);
    bottom: 55px;
    font-size: 1.8rem;
}

.contacto__main--bloqueTexto3 i:hover {
    background-color: #588dca;
    transition: all .5s ease;
}

.contacto__main--bloqueTexto3 .bi-telephone {
    bottom: 45px;
}

.contacto__main--bloqueTexto3 h4 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 300;
    color: #474747;
    position: relative;
    bottom: 20px;
}

.contacto__main--bloqueTexto3 p {
    color: #828282;
    font-weight: 400;
    text-align: center;
    font-size: .9rem;
    padding-top: 15px;
    position: relative;
    bottom: 20px;
}

/* Queries para contacto.html */

@media (min-width: 577px) and (max-width: 767px)  {
    .contacto__main--bloqueTexto3 div {
        margin: 0px 40px 20px 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .contacto__main--bloqueTexto2 p {
        padding: 0px 80px;
    }
    .contacto__main--bloqueTexto3 div {
        margin: 0px 100px 20px 100px;
    }
}

@media (min-width: 991px) {
    .contacto__main--bloqueTexto22 {
        background-image: url(../assets/images/portadaspages/contacto2bnsquare.jpg);
        align-items: center;
        background-position: center;
        text-align: center;
        background-size: cover;
    }
    .contacto__main--bloqueTexto2 {
        background-image: none;
        padding: 100px;
    }
    .contacto__main--contenedor1 {
        margin: 10px 0px;
    }
}

@media (min-width: 1200px) {
    .contacto__main--bloqueTexto3 {
        padding: 40px 150px;
    }
}


/* ============================= */
/* Estilos para Servicios */
/* ============================= */

.servicios__main {
    padding: 0px 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.servicios__main img {
    transition: all .3s ease;
    border: 1px solid #dedede;
    padding: 5px;
}

.servicios__main--imgPortada {
    width: 85%;
    margin: auto;
}
.servicios__main--imgContent {
    width: 85%;
    margin: auto;
}

.servicios__main img:hover {
    transform: scale(1.05, 1.05);
}

.servicios__main--titular {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 15px;
}

.servicios__main--bloqueTexto1 {
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
    letter-spacing: .9px;
    text-align: justify;
}

.servicios__main--bloqueTexto2 {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
    padding-bottom: 30px;
    letter-spacing: .8px;
    text-align: justify;
}

.servicios__main--bloqueTexto2 img {
    border: 1px solid #dedede;
    float: left;
    width: 230px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.servicios__main--acordeon {
    padding-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: justify;
}

.accordion-item {
    border-color: rgb(250, 250, 250);
    padding: 0px;
    background-color: rgb(250, 250, 250)
}

.accordion-button {
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    padding: 20px 0px;
    background-color: rgb(250, 250, 250)
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(250, 250, 250);
    color: #588dca;
}

.servicios__main--bloqueTexto3 {
    margin-top: 40px;
}

.servicios__main--bloqueTexto3 h4 {
    font-family: 'Nunito', sans-serif;
    padding-bottom: 10px;
    font-weight: 400;
}

.servicios__main--bloqueTexto3 ul li::marker {
    color: #828282;
}

.servicios__main--bloqueTexto3 ul li {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    padding-bottom: 10px;
    font-size: .9rem;
    line-height: 1.5rem;
}

.servicios__main hr {
    width: 50%;
    color: #4974a5;
    border-width: 2px;
    opacity: 100;
}

/* Queries para Servicios */

@media (min-width: 577px) and (max-width: 767px)  {
    .servicios__main--bloqueTexto1 {
        padding: 0px 10px;
        padding-bottom: 10px;
    }
    .servicios__main--bloqueTexto2 {
        padding: 0px 10px;
        padding-bottom: 30px;
    }
    .servicios__main--acordeon {
        padding: 0px 10px 30px 10px;
    }
    .servicios__main--bloqueTexto3 {
        padding: 0px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .servicios__main--bloqueTexto1 {
        padding: 0px 40px;
        padding-bottom: 10px;
    }
    .servicios__main--bloqueTexto2 {
        padding: 0px 40px;
        padding-bottom: 30px;
    }
    .servicios__main--acordeon {
        padding: 0px 40px 30px 40px;
    }
    .servicios__main--bloqueTexto3 {
        padding: 0px 40px;
    }
}

@media (min-width: 991px) and (max-width: 1200px)  {
    .servicios__main--bloqueTexto1 {
        padding: 0px 80px;
        padding-bottom: 10px;
    }
    .servicios__main--bloqueTexto2 {
        padding: 0px 80px;
        padding-bottom: 30px;
    }
    .servicios__main--acordeon {
        padding: 0px 80px 30px 80px;
    }
    .servicios__main--bloqueTexto3 {
        padding: 0px 80px;
    }
    .servicios__main--imgPortada {
        width: 75%;
        max-height: 450px;
    }
}

@media (min-width: 1200px) {
    .servicios__main--imgPortada {
        width: 75%;
        max-height: 475px;
    }
    .accordion-button {
        justify-content: center;
    }
    .accordion-button::after {
        margin-left: 10px;
    }
}

@media (min-width: 1400px) {
    .servicios__main--imgPortada {
        width: 70%;
        max-height: 500px;
    }
}
@media (min-width: 1600px) {
    .servicios__main--imgPortada {
        width: 70%;
        max-height: 525px;
    }
}

/* ============================= */
/* Estilos para Página 404 */
/* ============================= */

.pag404__main--bloqueTexto {
    margin: 70px 70px;
    text-align: center;
}

.pag404__main--bloqueTexto div {
    background-color: #4974a5;
    padding: 30px 10px;
}

.pag404__main--bloqueTexto div i, .pag404__main--bloqueTexto div h1, .pag404__main--bloqueTexto div h4, .pag404__main--bloqueTexto div span {
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    color: #e3f2fd;
}

.pag404__main--bloqueTexto div i {
    font-size: 5rem;
    padding: 0;
}

.pag404__main--bloqueTexto div h1 {
    font-size: 2.8rem;
}

.pag404__main--bloqueTexto div h4 {
    padding: 0px 30px;
    line-height: 2rem;
}

.pag404__main--bloqueTexto div a {
    padding: 0px 40px;
}

.pag404__main--bloqueTexto div a p {
    margin-top: 40px;
    margin: 0px 50px;
    color: #e3f2fd;
    background-color: #588dca;
    padding: 12px 0px;
    font-size: 1.2rem;
}

/* Queries para Página 404 */

@media (min-width: 577px) and (max-width: 767px)  {
    .pag404__main--bloqueTexto {
        padding: 0px 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .pag404__main--bloqueTexto {
        padding: 0px 150px;
    }
}

@media (min-width: 991px) and (max-width: 1200px)  {
    .pag404__main--bloqueTexto {
        padding: 0px 200px;
    }
}

@media (min-width: 1200px) {
    .pag404__main--bloqueTexto {
        padding: 0px 300px;
    }
}

/* ============================= */
/* Estilos para Clientes */
/* ============================= */

/* ============================= */
/* Primer Slider - Clientes */
/* ============================= */

.clientes__main {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.slider {
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}

.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    cursor: pointer;
    appearance: none;
}

.slider__nav:checked {
    animation: check 0.7s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}

.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    transition: left 0.4s;
    display: flex;
    flex-flow: row nowrap;
}

.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

@keyframes check {
    50% {
    box-shadow: 0 0 0 6px #454545, 0 0 0 18px rgba(69, 69, 69, 0.2);
    }
    100% {
    box-shadow: 0 0 0 0 #454545, 0 0 0 0 rgba(69, 69, 69, 0);
    }
}

/* ============================= */
/* Segundo Slider - Testimonios */
/* ============================= */

.clientes__main--testimonios {
    height: 850px;
    background: url(../assets/images/clientes/testimonials.jpg);
    min-height: 375px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}

.clientes__main--titular {
    text-align: center;
    font-size: 34px;
    position: relative;
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
}

.clientes__main--linea {
    display: flex;
    justify-content: center;
}

.clientes__main--carouselItems {
    margin-top: 20px;
    display: flex;
    color: #FFFFFF;
}

.clientes__main--carouselItems img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.clientes__main--imagenItem {
    display: flex;
    justify-content: center;
}

.clientes__main--carouselItems p {
    padding-top: 50px;
    width: 60%;
    text-align: justify;
    margin: auto;
    font-size: .8rem;
    font-family: 'montserrat', sans-serif;
    font-weight: 200;
}

.clientes__main--carouselItems h2 {
    text-align: center;
    margin: auto;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    padding: 30px;
}

.clientes__main--carouselItems h6 {
    text-align: center;
    margin: auto;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
}


/* ============================= */
/* Estilos para portal de Login */
/* ============================= */

@keyframes pan {
    100% {background-position: 15% 50%;}
}

.login__main {
    padding: 50px 75px;
    place-items: center;
    background-image: url("../assets/images/polygon-scatter-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 4s infinite alternate linear;
}

.login__main--titular {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: .9px;
}

.login__main hr {
    width: 50%;
    color: #4974a5;
    border-width: 2px;
    opacity: 100;
}

.login__main input {
    padding: 5px;
    border-radius: 5%;
    background-color: #a2aebb;
    border: #4974a5;
    max-width: 220px;
    font-size: 1.2rem;
    color: #e3f2fd;
    margin-top: 15px;
    text-align: center;
    outline-color: #4974a5;
}

.login__main button {
    padding: 5px;
    border-radius: 8%;
    background-color: #4974a5;
    border: #4974a5;
    width: 50%;
    max-width: 120px;
    font-size: 1.2rem;
    color: #e3f2fd;
    margin-top: 25px;
}

.login__main--errorLogin, .login__main--errorLoginAb {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .6px;
    transition: all 1s ease;
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    margin-top: 30px;
    max-width: 450px;
}

/* ============================= */
/* Estilos para portal de Registro */
/* ============================= */

.registro__main {
    padding: 50px 75px;
}

.registro__main--titular {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: .9px;
    margin-top: 20px;
}

.registro__main hr {
    width: 50%;
    color: #4974a5;
    border-width: 2px;
    opacity: 100;
}

.registro__main--formulario label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .9px;
    text-align: center;
}

.registro__main input {
    padding: 5px;
    border-radius: 5%;
    background-color: #a2aebb;
    border: 3px solid #4974a5;
    max-width: 220px;
    font-size: 1.2rem;
    color: #e3f2fd;
    text-align: center;
    outline-color: #4974a5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: .9px;
}

.registro__main--boton {
    padding: 5px;
    border-radius: 8%;
    background-color: #4974a5;
    border: #4974a5;
    max-width: 150px;
    font-size: 1.2rem;
    color: #e3f2fd;
    margin-bottom: 30px;
}

.registro__main--resultado {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .6px;
    transition: all 1s ease;
    text-align: center;
}

.control__ingreso {
    margin-top: 10px
}

.control__ingreso.correcto input, .control__ingreso.correcto select {
    border-color: #0ab96d;
    transition: all 1s ease;
}

.control__ingreso.incorrecto input, .control__ingreso.incorrecto select  {
    border-color: #ff3860;
    transition: all 1s ease;
}

.control__ingreso .incorrecto {
    color: #ff3860;
    font-size: .8rem;
    height: 15px;
    text-align: center;
    margin-bottom: 45px;
}

/* ============================= */
/* Estilos para Panel de Control */
/* ============================= */

.invisible {
    display: none;
    position: absolute;
}

.cp__main {
    padding: 50px 75px;
}

.cp__main--datos {
    align-items: center;
}

.cp__main--boton, .cp__main--botonAB {
    padding: 5px;
    border-radius: 8%;
    background-color: #4974a5;
    border: #4974a5;
    max-width: 150px;
    min-width: 150px;
    font-size: 1.2rem;
    color: #e3f2fd;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

.cp__main--botonAB {
    margin-bottom: 20px;
    margin-top: 30px;
}

.cp__main--botonSecondary {
    padding: 5px;
    border-radius: 8%;
    background-color: #707780;
    border: #707780;
    max-width: 70px;
    min-width: 70px;
    font-size: 1.2rem;
    color: #f9fdff;
    margin-bottom: 30px;
    text-align: center;
}

.cp__main--boton:hover, .cp__main--botonAB:hover, .cp__main--botonSecondary:hover {
    background-color: #588dca;
    border: #588dca;
    transition: all .5s ease;
}

.cp__main--opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cp__clienteDatos--datos, #cp__clienteTurnos--datos, #cp__cancelarTurno--datos, #cp__turnos--todos, #cp__turnos--rama {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: .9px;
    margin-top: 20px;
}

#cp__clienteDatos--informe,#cp__clienteTurnos--tabla, #cp__turnos--tabla {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: .9px;
}

#cp__clienteTurnos--informe, #cp__clienteDatos--informe, #cp__turnos--tablaDiv, #cp__clienteTurnos--tablaDiv {
    position: absolute;
    left: 50px;
    top: 950px;
    width: 90%;
    height: 22%;
}

.cp__spacer, .cpAB__spacer {
    width: 100%;
    height: 270px;
    position: relative;
    z-index: -9999;
}

.cpAB__spacer {
    height: 350px;
}

.cp__cancelarTurno--entrada {
    width: 50%;
}

.cp__main--bienvenida {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: .9px;
}

/* ============================= */
/* Medias para Panel de Control */
/* ============================= */

@media (max-width: 577px) {

    .cp__main {
        padding: 50px 50px;
    }

    #cp__clienteTurnos--informe, #cp__clienteDatos--informe, #cp__turnos--tablaDiv, #cp__clienteTurnos--tablaDiv {
        left: 20px;
        top: 910px;
    }

    .cp__main--bienvenida, #cp__clienteTurnos--datos p, #cp__clienteDatos--datos p, #cp__cancelarTurno--datos p, #cp__turnos--rama p, #cp__turnos--todos p {
        font-size: 1rem;
    }

    #cp__clienteTurnos--tabla, #cp__clienteDatos--tabla, #cp__clienteDatos--informeTabla, #cp__turnos--tabla {
        font-size: 0.9rem;
    }

    #cp__cancelarTurno--informe {
        margin-top: 50px;
    }
    #cp__cancelarTurno--datos{
        margin-top: 50px;
    }

    .cp__main--boton {
        margin-top: 20px;
    }
    .cp__main--botonAB {
        margin-top: 10px;
    }

    .cp__main--datos {
        position: absolute;
        left: 10px;
        top: 830px;
    }
    .control__ingreso .incorrecto {
        margin-bottom: 5px;
    }

    .cp__spacer, .cpAB__spacer {
        height: 400px;
    }

}

@media (min-width: 578px) and (max-width: 768px) {
    #cp__clienteTurnos--informe, #cp__clienteDatos--informe, #cp__turnos--tablaDiv, #cp__clienteTurnos--tablaDiv {
        left: 30px;
        top: 910px;
    }
    #cp__cancelarTurno--informe {
        margin-top: 50px;
    }
    #cp__cancelarTurno--datos{
        margin-top: 50px;
    }
    .cp__spacer, .cpAB__spacer {
        height: 450px;
    }
    .cp__main--boton {
        margin-bottom: 10px;
    }
    .cp__main--botonAB {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .cp__main--datos {
        position: absolute;
        left: 10px;
        top: 830px;
    }
    .control__ingreso .incorrecto {
        margin-bottom: 5px;
    }
    .cp__main--formularioTurnos {
        margin-left: 25px;
    }
    .cp__main {
        padding: 50px 30px;
    }
}